@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("./img/montañas.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /* background: rgba(35, 16, 202, 0.856); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: black;
    user-select: none;
}

.navegacion a {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navegacion a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

.navegacion a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navegacion .btnEntrar-button {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navegacion .btnEntrar-button:hover {
    background: black;
    color: #fff;
}  

/* ! en este punto terminan los estilos de la barra de navegacion-(header)  */

.wrapper {
    position: relative;
    width: 340px;
    height: 480px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    transition: height .2s ease;
}

/* .wrapper.active {
    height: 500px;
} */

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 2em;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    cursor: pointer;
    z-index: 1;

}

.wrapper .form-box {
    width: 90%;
    height: 350px;
}
/*  ? verificar el codigo para dar funcion de entrelasar los dos  login no me funciona */
.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register {
    transition: transform .18s ease; 
    transform: translateX(0);
} /* ? verificar el codigo linea 134 a linea 152 */

.form-box h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

.form-box .remember-forgot {
    color: blue; 
    text-decoration: none;
    cursor: pointer;
    
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: #162938;
    margin: 15px 0;
} 

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    /* transition: .5s; */
}
/* ? efecto input que se ajuste el nombre hacia arriba cuando paso el cursor verificar no me funciona  */
/* .input-box:focus + .form-label {
    transform: translateY(-12px) scale(.7) ;
    transform-origin: left top;

} */


.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 500;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: center;
}

.remember-forgot a {
    color: blue;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
    transition: .5s;
    margin: 15px 0 10px;
}

.btn:hover {
    background: black;
    color: white;
}

.login-register {
    font-size: .8em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 30px 0 15px;
}

.register-link {
    color: blue;
    margin-left: 15px;
    text-decoration: none;
    font-size: .9em;
}

.register-link:hover {
    text-decoration: underline;
}

.login_link {
    color: blue;
    text-decoration: none;
}

.login_link:hover {
    text-decoration: underline;
}

/* ? verificar los estilos para agregar efecto pantalla responcive no me funciona */
/*  ! aprendiendo sobre las mediaqueri pantalla adaptable a dispositivos moviles */
/* @media (max-width:425px) {
    .form-box .input-box .remember-forgot .btn {
        font-size: 1.5rem;
       
    }
    header {
        font-size: 1.5rem;
    }
} */
/* ? tengo varios errores en mi codigo debo dar solucion ¡ayuda!   */